<template>
<v-card class="mx-auto" max-width="500">
    <v-card-title class="white--text red darken-2">
        <b-form-checkbox v-model="fAll" color="white" size="lg" @change="selectAll">
            ALL AUTHORITIES

        </b-form-checkbox>
        <v-spacer></v-spacer>
        <v-btn small style="margin: 10px 10px 0px 10px" @click="toParent()">
              Done
            <v-icon right color="green">
                mdi-checkbox-marked-circle
            </v-icon>
        </v-btn>
    </v-card-title>
    <v-spacer></v-spacer>
    <perfect-scrollbar>
        <v-expansion-panels focusable>
            <v-expansion-panel v-for="c in blog" :key="c.value">
                <v-expansion-panel-header>
                    <v-checkbox v-model="sAll" :label="c.value" :value="c.value" :key="c.value" @change="selectAll1(c.value)"></v-checkbox>
                </v-expansion-panel-header>
                <v-expansion-panel-content style="background-color: #F9F3F3">
                    <div v-for="option in c.country" :key="option.value">
                        <v-row align="center">
                            <v-checkbox :label="option.text" v-model="tAll" :key="option.text" :value="option.text">

                            </v-checkbox>
                            <v-spacer></v-spacer>
                            <country-flag :country='option.value' size='normal' />
                        </v-row>
                    </div>
                </v-expansion-panel-content>
            </v-expansion-panel>
        </v-expansion-panels>
    </perfect-scrollbar>
</v-card>
</template>

<script lang="ts">
import {
    Component,
    Prop,
    Vue
} from 'vue-property-decorator';

import store from '@/store/index'

@Component
export default class Accord extends Vue {
    @Prop() blog!: Array < object >
        mounted() {
            console.log(this.blog[0].country[0].value);
        }
    fAll = false
    checked = true
    sAll = []
    tAll = []
    selectAll() {
        let c: any
        let c1
        let an = ""
        let am = ""
        if (this.fAll == true) {
            for (c in this.blog) {
                an = this.blog[c].value
                this.sAll.push(an);
                for (c1 in this.blog[c].country) {
                    am = this.blog[c].country[c1].text
                    console.log(am)
                    this.tAll.push(am)
                }
            }
            this.checked = true
        } else {
            this.tAll = []
            this.sAll = []
        }
    }
    toParent() {
        
        this.$emit('childToPar', this.tAll)
    }
    selectAll1(x: any) {
        let c
        let an
        //alert(this.fAll)
        if (x == "IP 5" && this.checked == true) {
            for (c in this.blog[0].country) {
                an = this.blog[0].country[c].text
                this.tAll.push(an);
            }
            this.checked = false
        } else if (x == "IP 5" && this.checked != true) {
            for (c in this.blog[0].country) {
                an = this.blog[0].country[c].text
                this.tAll.shift(an);
            }
            this.checked = true
        }
        if (x == "Africa" && this.checked == true) {
            for (c in this.blog[1].country) {
                an = this.blog[1].country[c].text
                this.tAll.push(an);
            }
            this.checked = false
        } else if (x == "Africa" && this.checked != true) {
            for (c in this.blog[1].country) {
                an = this.blog[1].country[c].text
                this.tAll.shift(an);
            }
            this.checked = true
        }
        if (x == "Asia" && this.checked == true) {
            for (c in this.blog[2].country) {
                an = this.blog[2].country[c].text
                this.tAll.push(an);
            }
            this.checked = false
        } else if (x == "Asia" && this.checked != true) {
            for (c in this.blog[2].country) {
                an = this.blog[2].country[c].text
                this.tAll.shift(an);
            }
            this.checked = true
        }
        if (x == "Australia / Oceania" && this.checked == true) {
            for (c in this.blog[3].country) {
                an = this.blog[3].country[c].text
                this.tAll.push(an);
            }
            this.checked = false
        } else if (x == "Australia / Oceania" && this.checked != true) {
            for (c in this.blog[3].country) {
                an = this.blog[3].country[c].text
                this.tAll.shift(an);
            }
            this.checked = true
        }
        if (x == "Europe" && this.checked == true) {
            for (c in this.blog[4].country) {
                an = this.blog[4].country[c].text
                this.tAll.push(an);
            }
            this.checked = false
        } else if (x == "Europe" && this.checked != true) {
            for (c in this.blog[4].country) {
                an = this.blog[4].country[c].text
                this.tAll.shift(an);
            }
            this.checked = true
        }
        if (x == "North America" && this.checked == true) {
            for (c in this.blog[5].country) {
                an = this.blog[5].country[c].text
                this.tAll.push(an);
            }
            this.checked = false
        } else if (x == "North America" && this.checked != true) {
            for (c in this.blog[5].country) {
                an = this.blog[5].country[c].text
                this.tAll.shift(an);
            }
            this.checked = true
        }
        if (x == "South America" && this.checked == true) {
            for (c in this.blog[6].country) {
                an = this.blog[6].country[c].text
                this.tAll.push(an);
            }
            this.checked = false
        } else if (x == "South America" && this.checked != true) {
            for (c in this.blog[6].country) {
                an = this.blog[6].country[c].text
                this.tAll.shift(an);
            }
            this.checked = true
        }
        if (x == "Organization" && this.checked == true) {
            for (c in this.blog[7].country) {
                an = this.blog[7].country[c].text
                this.tAll.push(an);
            }
            this.checked = false
        } else if (x == "Organization" && this.checked != true) {
            for (c in this.blog[7].country) {
                an = this.blog[7].country[c].text
                this.tAll.shift(an);
            }
            this.checked = true
        }

    }

    // selectAll(): any {
    //     let c, c1
    //     let an
    //     if (this.fAll == true) {
    //         for (c in this.blog) {
    //             an = this.blog[c].value
    //             this.sAll.unshift(an)
    //             for (c1 in c.country) {
    //                 an = c.country[c1].value
    //                 this.tAll.unshift(an) 

    //             }
    //         }
    //     } else {
    //         this.sAll = []
    //         this.tAll = []
    //     }
    //     this.toParent()
    // }

    // selectAll1(e: any) {
    //     let c
    //     let an: string
    //     //this.checked = true
    //     if (e == 'IP5' ) {

    //         let count = 0
    //         for (c in this.blog) {
    //             console.log(count)
    //             if (count < 5) {
    //                 an = this.blog[count].value
    //                 this.tAll.unshift(an)
    //             }
    //             count = count + 1;
    //         }
    //     } else if (e == 'Africa') {
    //         let count = 5
    //         for (c in this.blog) {
    //             console.log(count)
    //             if (count > 4 && count <= 10) {
    //                 an = this.blog[count].value
    //                 this.tAll.unshift(an)
    //             }
    //             count = count + 1;
    //         }
    //     } else if (e == 'Asia') {
    //         let count = 10
    //         for (c in this.blog) {
    //             console.log(count)
    //             if (count > 9 && count <= 14) {
    //                 an = this.blog[count].value
    //                 this.tAll.unshift(an)
    //             }
    //             count = count + 1;
    //         }
    //     }
    // }
    // smallcb(){
    //     alert(this.blog.country.value)
    //     const an = this.blog.country.value
    //     this.tAll.unshift(an)
    // }

}
</script>

<style scoped>
.ps {
    height: 430px;

}
</style>
