<template>
<v-row>
    <v-dialog v-model="dialog2" fullscreen hide-overlay transition="dialog-top-transition">
        <template v-slot:activator="{ on, attrs }">
            <v-btn text v-bind="attrs" v-on="on" style="margin: 10px">
                <v-icon left>
                    mdi-earth
                </v-icon>
                Authority
            </v-btn>
        </template>
        <v-card class="mx-auto my-12" max-width="374">
            <v-toolbar dark color="indigo">
                <v-btn icon dark @click="dialog2 = false">
                    <v-icon>mdi-close</v-icon>
                </v-btn>
                <v-toolbar-title>AUTHORITIES</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-toolbar-items>
                    <Saved :elem="elem" :sno="sno" />
                    <v-row justify="center">
                        <v-dialog v-model="dialog5" persistent max-width="290">
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn text style="margin: 3px 5px 0px 15px" v-bind="attrs" v-on="on">Save</v-btn>
                            </template>
                            <v-card>
                                <v-card-title class="headline">
                                    Are you sure?
                                </v-card-title>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="red darken-1" text @click="dialog5 = false">
                                        Cancel
                                    </v-btn>
                                    <v-btn color="green darken-1" text @click="save">
                                        Save
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                    </v-row>
                    <v-btn dark text @click="dialog2 = false">
                        Back
                    </v-btn>
                </v-toolbar-items>
            </v-toolbar>
            <v-sheet min-height="86vh" elevation="4" color="light" rounded="lg" style="margin: 10px">
                <v-container fluid>
                    <template>
                        <v-container fluid>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Status : </label>
                                    {{ select1 }}
                                    <v-radio-group v-model="select1">
                                        <v-radio v-for="rad in radios" :key="rad.value" :label="rad.label" :value="rad.value"></v-radio>
                                    </v-radio-group>
                                    <br>
                                    <label>Type : </label>
                                    {{selected}}
                                    <div v-for="cb in checks" :key="cb">
                                        <v-checkbox :label="cb.text" v-model="selected" :key="cb.text" :value="cb.text">
                                        </v-checkbox>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <v-divider bold vertical></v-divider>
                                </div>
                                <div class="col-md-7">
                                    <Accord :blog="blog" @childToPar="saveC" />
                                </div>
                            </div>
                        </v-container>
                    </template>
                </v-container>
            </v-sheet>
        </v-card>
    </v-dialog>
</v-row>
</template>

<script lang="ts">
import {
    Component,
    Prop,
    Vue
} from 'vue-property-decorator';
import Accord from "./Accord.vue"
import Saved from "./Saved.vue"
@Component({
    components: {
        Accord,
        Saved
    }
})
export default class Authority extends Vue {
    dialog2 = false
    dialog5 = false
    select1 = ""
    selected = []
    blog = this.$store.getters.allData;
    select2 = []
    elem: Array < object > = []
    sno = 0
    tAll = []
    radios: Array < object > = [{
            label: "All",
            value: "All"
        },
        {
            label: "Alive",
            value: "Alive"
        },
        {
            label: "Dead",
            value: "Dead"
        }
    ]
    public checks: Array < object > = [{
            value: 'Application',
            text: 'Application'
        },
        {
            value: 'Grant',
            text: 'Grant'
        },
        {
            value: 'Utility Models',
            text: 'Utility Models'
        },
    ]
    mounted() {
        console.log(this.blog)
    }
    save(): any {
        const status = this.select1
        const type = this.selected.join(' , ')
        const sno = this.sno + 1
        const time = new Date().toLocaleString()
        this.sno = sno
        const countries = this.tAll.join(' , ')
        this.select1 = ""
        this.select2 = []
        this.dialog5 = false
        return this.elem.push({
            sno,
            status,
            type,
            time,
            countries
        })

    }
    saveC(k: any) {

        this.tAll = k;
        alert(k)
    }
}
</script>
