<template>
<div>
    <v-row justify="center">
        <v-dialog v-model="dialog4" persistent max-width="290">
            <template v-slot:activator="{ on, attrs }">
                <!-- <v-btn color="primary" dark v-bind="attrs" v-on="on">
                    Open Dialog
                </v-btn> -->
                <v-btn color="secondary" dark style="margin:12px" elevation="2" v-bind="attrs" v-on="on">submit</v-btn>
                <v-btn color="red" dark style="margin:12px" @click="clear()" variant="danger">clear</v-btn>

            </template>
            <v-card>
                <v-card-title class="headline">
                    Are you sure?
                </v-card-title>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="red darken-1" text @click="dialog4 = false">
                        Disagree
                    </v-btn>
                    <v-btn color="green darken-1" text @click="submits">
                        Agree
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</div>
</template>

<script lang="ts">
import {
    Component,
    Prop,
    Vue
} from 'vue-property-decorator';

@Component
export default class Buttons extends Vue {
    @Prop() submit!: any
    @Prop() clear!: any
    dialog4 = false
    submits(){
        this.submit()
        this.dialog4 = false
    }
}
</script>
