<template>
<v-row>
    <v-col cols="6">
        <v-select @input="updateValue()" v-model="sel" :hint="`${sel.value}, ${sel.text}`" :items="items" item-text="text" item-value="value" label="Select" persistent-hint return-object single-line></v-select>
    </v-col>
</v-row>
</template>

<script lang="ts">
import {
    Component,
    Prop,
    Vue
} from 'vue-property-decorator';
@Component
export default class Dropdown extends Vue {
    sel = {
        value: "(As/Ap)",
        text: "Assignee"
    }
    public items: Array < object > = [{
            value: '(As/Ap)',
            text: 'Assignee/Applicant'
        },
        {
            value: '(nme)',
            text: 'Name'
        },
        {
            value: '(num)',
            text: 'number'
        },
        {
            value: '(any)',
            text: 'anything'
        },
        {
            value: '(dis)',
            text: 'This one is disabled',
            disabled: true
        }
    ]
    updateValue() {
        this.$emit('child', this.sel)

    }
    // mounted(){
    //   alert(this.items)
    // }
};
</script>
