<template>
<v-row>
    <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
        
        <template v-slot:activator="{ on, attrs }">
            <v-btn text v-bind="attrs" v-on="on" style="margin: 10px">
                <v-icon left>
                    mdi-history
                </v-icon>
                History
            </v-btn>
        </template>
        <v-card class="mx-auto my-12" max-width="374">
            <v-toolbar dark color="secondary">
                <v-btn icon dark @click="dialog = false">
                    <v-icon>mdi-close</v-icon>
                </v-btn>
                <v-toolbar-title>History</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-toolbar-items>
                    <v-btn dark text @click="doClear">
                        <v-icon left>
                            mdi-delete
                        </v-icon>
                        Clear
                    </v-btn>
                    <v-btn dark text @click="dialog = false">
                        <v-icon left>
                            mdi-arrow-left
                        </v-icon>
                        Back
                    </v-btn>
                </v-toolbar-items>
            </v-toolbar>
            <v-parallax height="100%" src="https://cdn.vuetifyjs.com/images/backgrounds/vbanner.jpg">
                <v-sheet min-height="76vh" elevation="4" color="light" rounded="lg" style="margin: 50px">
                    <v-container fluid v-if="tabData != null">

                        <b-table striped hover :items="tabData">
                        </b-table>
                    </v-container>
                    <v-container fluid v-if="tabData == null">
                        <h1>No items to show...</h1>
                    </v-container>
                </v-sheet>
            </v-parallax>
        </v-card>
    </v-dialog>
</v-row>
</template>

<script lang="ts">
import {
    Component,
    Prop,
    Vue
} from 'vue-property-decorator';


@Component
export default class History extends Vue {
    @Prop() public tabData!: Array < object >
        @Prop() doClear!: any
    dialog = false
    singleSelect = false
    selected = []

}
</script>
