<template>
<v-form>
    
        
                <v-responsive max-width="260">
                    <v-text-field @input="emitToParent" v-model="text" dense solo-inverted label="Enter here..." required></v-text-field>
                </v-responsive>
            
    
</v-form>
</template>

<script lang="ts">
import {
    Component,
    Prop,
    Vue
} from 'vue-property-decorator';

@Component
export default class Input extends Vue {
    // @Prop() clear!: any
    text = ""
    emitToParent() {
        this.$emit('childToParent', this.text)
    }
}
</script>