<template>
<v-app id="inspire">
    <v-app-bar app color="white" flat>
        <v-container class="py-0 fill-height">
            <v-icon left  @click.stop="drawer=!drawer" large>mdi-home</v-icon>
                <v-avatar size="60">
                    <!-- <v-img src="./assets/download.jpeg"></v-img> -->
                </v-avatar>
            <v-btn v-for="link in links" :key="link.value" text :href="link.href" target="_blank">
                {{ link.value }}
            </v-btn>

            <v-spacer></v-spacer>
            <v-btn text @click="reloadPage">Refresh<v-icon right>mdi-refresh</v-icon></v-btn>
        </v-container>
    </v-app-bar>

    <v-main class="grey lighten-3">
        <v-parallax height="604" src="https://cdn.vuetifyjs.com/images/parallax/material.jpg">
            <v-navigation-drawer v-model="drawer" absolute temporary>
                <v-divider></v-divider>
                <v-list-item>
                    <v-list-item-avatar>
                        <!-- <v-img src="/home/ansh-xlpat/vueti-pro/src/assets/myImage.jpg" alt="Ansh Bansal"></v-img> -->
                    </v-list-item-avatar>
                    <v-list-item-content style="font-size: 10px">
                        <v-list-item-title><span>Welcome,</span><br>
                            <span><strong>Ansh Bansal</strong></span>
                        </v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-divider></v-divider>
                <v-list-item>
                    <v-list-item-content>
                        <History :tabData="tabData" :doClear="doClear" />

                    </v-list-item-content>
                </v-list-item>
                <v-divider></v-divider>
                <v-list-item>
                    <v-list-item-content>
                        <Authority />
                    </v-list-item-content>
                </v-list-item>
                <v-divider></v-divider>

                
            </v-navigation-drawer>

            <v-container>
                <v-row>
                    <v-col cols="2">
                        
                        <!-- <router-view></router-view> -->
                    </v-col>

                    <v-col cols="8">

                        <v-sheet min-height="70vh" rounded="lg">
                            <!-- <particles-bg type="random" :bg="true" /> -->
                            <v-container fluid>

                                <div class="row">
                                    <div class="col-sm-10">
                                        <Dropdown @child="s" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <Input @childToParent="ctp" />
                                    </div>
                                </div>
                            </v-container>
                            <Textarea :v="v" />
                            <Buttons :submit="submit" :clear="clear" />
                        </v-sheet>
                </v-col>
            </v-row>
        </v-container>
        </v-parallax>
    </v-main>

</v-app>
</template>

<script lang="ts">
import {
    Component,
    Prop,
    Vue
} from 'vue-property-decorator';

import History from './History.vue';
import Input from './Input.vue';
import Textarea from './Textarea.vue';
import Buttons from './Buttons.vue';
import Authority from './Authority.vue';
import Dropdown from './Dropdown.vue';


@Component({
    components: {
        Dropdown,
        History,
        Input,
        Textarea,
        Buttons,
        Authority
    }
})
export default class App extends Vue {
    drawer = null
    links = [{
            value: "Xlpattt",
            href: "https://en.xlpat.com/"
        },
        {
            value: "Patents",
            href: "https://patents.google.com/"
        },
        {
            value: "Xlscout",
            href: "https://accounts.xlscout.ai/auth/realms/xlscout_dev/protocol/openid-connect/auth?client_id=xlsout&redirect_uri=https%3A%2F%2Fdev.xlscout.ai%2F&state=1f3ee058-4110-4c15-8f48-509174583b89&response_mode=fragment&response_type=code&scope=openid&nonce=0564192f-5782-48d3-9510-080e1afd307b"
        },
        {
            value: "About Us",
            href: "https://en.xlpat.com/about-us/"
        }
    ]
    dropdown = ""
    text ="" as string;
    public tabData: Array < object > = []
    sno = 0
    finaltext = ""
    selected = "(As/Ap)"
    s(q: string) {
        this.selected = q;
    }
    ctp(k: string) {
        this.text = k;
    }
    get v(): string {
        // console.log(this.selected.value)
        return this.text;
    }
    public submit(): any {
        const type = this.selected.text
        const input = this.text
        const time = new Date().toLocaleString()
        const sno = this.sno + 1
        this.sno = sno
        return this.tabData.push({
            sno,
            type,
            input,
            time
        });
    }
    public clear(): string {
        this.text = "";
        this.selected = "";
        return this.text, this.selected;

    }
    public doClear(): any {
        window.alert("History will be deleted !")
        this.sno = 0
        this.clear()
        return this.tabData.splice(0)
    }
    reloadPage() {
        window.location.reload()
    }
};
</script>







