<template>
<v-row>
    <v-dialog v-model="dialog3" fullscreen hide-overlay transition="dialog-bottom-transition">
        <template v-slot:activator="{ on, attrs }">
            <v-btn text v-bind="attrs" v-on="on" dark style="margin: 27px 5px 0px 0px">
                Collections
            </v-btn>
        </template>
        <v-card class="mx-auto my-12" max-width="374">
            <v-toolbar dark color="secondary">
                <v-btn icon dark @click="dialog3 = false">
                    <v-icon>mdi-close</v-icon>
                </v-btn>
                <v-toolbar-title>Your Collections</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-toolbar-items>
                    <!-- <v-btn dark text @click="cleared">
                        <v-icon left>mdi-delete</v-icon>
                        Clear
                    </v-btn> -->
                    <v-row justify="center">
                        <v-dialog v-model="dialog6" persistent max-width="290">
                            <template v-slot:activator="{ on, attrs }">
                                <!-- <v-btn dark text @click="cleared">
                                    <v-icon left>mdi-delete</v-icon>
                                    Clear
                                </v-btn> -->
                                <v-btn dark text v-bind="attrs" style="margin: 25px 0px 0px 0px" v-on="on"><v-icon left>mdi-delete</v-icon>Clear</v-btn>
                            </template>
                            <v-card>
                                <v-card-title class="headline">
                                    Are you sure?
                                </v-card-title>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="red darken-1" text @click="dialog6 = false">
                                        Cancel
                                    </v-btn>
                                    <v-btn color="green darken-1" text @click="cleared">
                                        Clear
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                    </v-row>
                    <v-btn dark text @click="dialog3 = false">
                        <v-icon left>mdi-arrow-left</v-icon>
                        Back
                    </v-btn>
                </v-toolbar-items>
            </v-toolbar>
            <v-parallax height="100%" src="https://cdn.vuetifyjs.com/images/parallax/material2.jpg">
                <v-sheet min-height="83vh" elevation="4" color="light" rounded="lg" style="margin: 50px">
                    <v-container fluid v-if="elem != null">
                        <b-table striped hover :items="elem">
                        </b-table>
                    </v-container>
                    <v-container fluid v-if="elem == null">
                        <h1>No items to show...</h1>
                    </v-container>
                </v-sheet>
            </v-parallax>
        </v-card>
    </v-dialog>
</v-row>
</template>

<script lang="ts">
import {
    Component,
    Prop,
    Vue
} from 'vue-property-decorator';

@Component
export default class Saved extends Vue {
    @Prop() public elem!: Array < object >
        @Prop() sno!: number
    dialog3 = false
    dialog6 = false
    public cleared(): any {
        this.dialog6 = false
        this.sno = 0
        return this.elem.splice(0)
    }
}
</script>
