<template>
  <v-container fluid>
    <v-textarea
      name="input-7-1"
      prepend-inner-icon="mdi-pencil"
      rows="8"
      filled
      label="Binded data here..."
      auto-grow
      v-model="v"
    ></v-textarea>
  </v-container>
</template>

<script lang="ts">
import {
    Component,
    Prop,
    Vue
} from 'vue-property-decorator';

@Component
export default class Textarea extends Vue {
    @Prop() v!: any
}
</script>

