<template>
<div>
    <!-- <Mainapp/> -->
    <router-view></router-view>

</div>
</template>

<script lang="ts">
import {
    Component,
    Vue
} from 'vue-property-decorator';


import Mainapp from './components/Mainapp.vue';


@Component({
    components: {
        Mainapp
    }
})
export default class App extends Vue {
    
};
</script>
